<h2 class="margin_title">Sign up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  	<table  class="sign_tab">
  		<td class="sign_tab_lab">Email Address</td>
    	<td class="sign_tab_in"><%= f.input :email, required: true, :label => false, autofocus: true, input_html: { class: 'form-input2' } %></td>
    </tr>
    <tr>
    	<td class="sign_tab_lab">Password</td>
    	<td class="sign_tab_in"><%= f.input :password, required: true, :label => false, input_html: { class: 'form-input3' } %></td>
    </tr>
    <tr>
    	<td class="sign_tab_lab">Confirm Password</td>	
		<td class="sign_tab_in"><%= f.input :password_confirmation, required: true, :label => false, input_html: { class: 'form-input4' } %></td>
	</tr>
	</table>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign Me Up", class: "btn btn-large sign_btn" %>
  </div>
<% end %>

